<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
             type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="ExceptionUrlApiKey" value="hVrWFyEIuzuzkG6qR2AgVoJ7gHGAWeHY0s9udswM"></add>
    <add key="ExceptionUrl" value="http://192.168.5.126:8004"></add>
    <add key="LogTraceEnable" value="True"></add>
    <add key="LogWarnEnable" value="True"></add>
    <add key="LogInfoEnable" value="True"></add>
    <add key="RandomCode" value="001"></add>
    <add key="ApiVersion" value="2"></add>
    <add key="TaskConfigDbConString" value="data source=123.57.226.114;initial catalog=作业调度配置20161212;user id=sa;password=84519741;pooling=true;min pool size=1;max pool size=1;Connection Timeout=0"></add>
    <add key="TaskServerId" value="192.168.5.126_yanzhengyu"></add>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>