<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net45" developmentDependency="true" />
  <package id="MongoDB_BSon_AND_Driver" version="1.0.0" targetFramework="net40" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net45" />
</packages>